/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(image.png);
    background-size: cover;
}


h2 {
    margin: 3px;
}

input, textarea {
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#feed-section {
    margin-top: 30px;
}

.feed-item {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feed-item header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.feed-item header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.feed-item footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
